@import './base.css';

/*-- General Styles --*/
html,
body {
  font-family: "Ubuntu", sans-serif;
  font-stretch: expanded;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (max-width: 576px) {
  h2 {
      font-size: 1.1rem;
      font-weight: 600;
  }
}   

.btn {
  background: transparent;
  padding: 5px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.05rem;
  border: solid .1em #fff;
  border-radius: 5px;
}

.btn--icon {
  position: relative;
  display: flex;  
  flex-direction: row;
  align-items: center;
  border: none;
  padding: 0;
}

.btn:disabled,
.btn--icon:disabled {
  cursor: default;
  color: grey;
}

.btn--icon:disabled .svgSpriteBox {
  fill: grey;
}

.btn--icon,
.btn--icon .svgSpriteBox {
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.btn--icon .svgSpriteBox {
  max-height: 25px;
  max-width: 30px;
  margin-right: 10px;  
  overflow: visible;      
}

.btn--icon-notext .svgSpriteBox {
  margin-right: 0px;
}

.svgSpriteBox {
  fill: #fff;
}

.btn--icon.active .svgSpriteBox {
  transform: scale(1.15);
  animation: btnIconActive 3s infinite;
}

@keyframes btnIconActive {
  0% {   
      fill: #0f5f07;
      transform: scale(1.3);
  }
  50% {   
      fill: #970909;
      transform: scale(1.15);
      }
  100% {   
      fill: #0f5f07;
      transform: scale(1.3);
  }
} 

.btnHide {
  display: none;
}

.btnShow {
  display: flex !important;
}

.checkBox,
.radioButton {
  width: 2.3em;
  height: 2.3em;
  outline: none;
  appearance: none;
  background: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioButton {
  border-radius: 50%;
}

.checkBox::after,
.radioButton::after {
  content: "\25C9";
  width: auto;
  height: auto;        
  color: var(--componentsBackground);
  font-size: 0rem;
  position: relative;
  transition: .5s all ease;
}

.checkBox::after {
  content: "\2713";
}

.checkBox:checked::after {
  font-size: 1.6rem;
}

.radioButton:checked::after {
  font-size: 1.7rem;
}

.checkBox:disabled {
  background: #9b9b9b;
  cursor: default;
}

label {
  font-size: .9rem;
}

.active-marker {
  margin-left: -12px !important;
  margin-top: -51px !important;
  width: 35px !important;
  height: 51px !important;
  z-index: 999 !important;
}

.leaflet-marker-icon.active-marker {
  position: relative;
  animation: activeMarker 3s infinite;
}

@keyframes activeMarker {
  0% {
    top: 0px;
    width: 35px !important;
    height: 51px !important;
  }
  50% {   
    top: 10px;
    width: 41px !important;
    height: 56px !important;
  }
  100% {   
    top: 0px;
    width: 35px !important;
    height: 51px !important;
  }
} 


/*-- Main-Container Styles --*/
#app.app__main-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--mainFontColor);
}


/*-- Header Styles --*/
.app__main-container--header {
  width: 100%;
  height: 16vh;
  background: var(--componentsBackground);
  padding: var(--layoutPadding);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99999;
}

.app__main-container--header-firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__main-container--header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
}

.app__main-container--header-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__main-container--header-logo svg {
  height: 100%;
  width: 100%;
}

@media (max-width: 576px) {
  .app__main-container--header-logo svg {
      margin-right: 0px;
  }
}   

.app__main-container--header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}    

.app__main-container--header-buttons .btn:first-child {
  margin-right: 25px;
}


/*-- Settings Styles --*/
.app__main-container--settingsDialog {
  width: auto;
  min-width: 80vw;
  height: auto;
  min-height: 150px;
  max-height: calc(100% - 30px);
  color: #fff;
  background: var(--componentsBackground);
  border-radius: 8px;
  border: solid .08em #fff;
  padding: 15px 25px 25px 25px;
  font-size: 1.4em;
  position: absolute;
  top: -500px;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -48%);
  display: flex;
  flex-direction: column;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.showSettingsDialog {
  top: 50%;
}

.btn--settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn--settings .svgSpriteBox {
  width: 30px;
  height: 30px;
}

.turnSettingsIcon {
  animation: rotateSettingsIcon 3s infinite linear;
}

@keyframes rotateSettingsIcon {
   100% {
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
   }
}

.app__main-container--settingsDialog-Subtitle {
  font-size: .8rem;
  margin: 20px 0 5px 0;
  padding-bottom: 2px;
  border-bottom: solid .1em #fff;
}

.app__main-container--settingsDialog-PreciseMode {
  width: 100%;  
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app__main-container--settingsDialog-PreciseMode-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.app__main-container--settingsDialog-PreciseMode-select {
  height: 2.3em;
  padding: 0 5px 0 8px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: .6s;
  -o-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.showSelect {
  opacity: 1;
  pointer-events: initial;
}

.app__main-container--settingsDialog-List {  
  list-style-type: none;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 5px;
}

.app__main-container--settingsDialog-List li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 18px 0;  
}

.app__main-container--settingsDialog-List li:last-child {
  margin-right: -2px
}

.app__main-container--settingsDialog-List li .radioButton {
  margin-right: 15px;
}


/*-- Map Styles --*/
.app__main-container--map {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
  position: relative;
}


/*-- Footer Styles --*/
.app__main-container--footer {
  width: 100%;
  height: 16vh;
  background: var(--componentsBackground);
  padding: var(--layoutPadding);  
  font-size: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* position: fixed;
  bottom: 0px; */
}

.app__main-container--footer-status,
.app__main-container--footer-geoData {
  max-width: 50%;
}

.app__main-container--footer-geoData {
  display: flex;
  flex-direction: column;
}


/*-- Custom Styles --*/
.reloadComponent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
  opacity: 0;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}  

.reloadComponentShow {
  z-index: 9999;
  opacity: 1;      
}

.reloadComponent--gif {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.messageBox {
  width: auto;
  min-width: 80vw;
  height: auto;
  color: #fff;
  background: var(--componentsBackground);
  border-radius: 8px;
  padding: 30px 20px;
  font-size: 1.4em;
  position: absolute;
  top: -500px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.messageBoxShow {
  top: 50%;   
}

.messageBox--title {
  margin-bottom: 20px;
}

.messageBox--text {
  padding: 0;
}

.accuracyBox {
  display: none;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 60%;
  max-width: 70%;
  height: auto; 
  position: absolute; 
  left: 50%; 
  bottom: 130px; 
  transform: translate(-50%, 0);
  border: solid .18em var(--componentsBackground);
  border-radius: 5px;
  padding: 15px; 
  z-index: 9999;
  color: #000;
}

.showAccuracy {
  display: flex;
}