@import './base.scss';

/*-- Mixins --*/
/*-- Mixins --*/

@mixin transitionAll {
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

/*-- General Styles --*/
/*-- General Styles --*/

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'AnekBangla-Medium', sans-serif;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

@media (max-width: 576px) {
    h2 {
        font-size: 1.1rem;
        font-weight: 600;
    }
}   

a,
a:-webkit-any-link:active {
    color: $mainColor !important;
    -webkit-tap-highlight-color: $mainColor;
}

.svgSpriteBox {
    fill: $mainColor;
    max-width: 50px;
    max-height: 50px;
}

svg {
    vertical-align: middle;
}

.btn {
    background: transparent;
    padding: 5px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.15rem;
    border: solid .1em $secondaryColor;
    border-radius: $mapButtonsBorderRadius;

    &--icon {
        position: relative;
        display: flex;  
        flex-direction: row;
        align-items: center;
        border: none;
        padding: 0;
        @include transitionAll;

        .svgSpriteBox {
            max-height: 25px;
            max-width: 30px;
            margin-right: 10px;  
            overflow: visible;      
            @include transitionAll;
        }

        &-notext .svgSpriteBox {
            margin-right: 0px;
        }

        &.active .svgSpriteBox {
            transform: scale(1.15);
            animation: btnIconActive 3s infinite;
        }
        
        @keyframes btnIconActive {
          0% {   
              fill: #0f5f07;
              transform: scale(1.3);
          }
          50% {   
              fill: #970909;
              transform: scale(1.15);
              }
          100% {   
              fill: #0f5f07;
              transform: scale(1.3);
          }
        } 
    }

    &:disabled,
    &--icon:disabled {
        cursor: default;
        color: $secondaryColor;

        .svgSpriteBox {
            fill: $secondaryColor;
        }
    }
}

.btnHide {
    display: none;
}

.btnShow {
    display: flex !important;
}

label {
    font-size: 1rem;
}

/* Form elements */
select,
.checkBox,
.radioButton,
input {
    min-height: 35px;
    background: $backgroundColor;
    border-radius: 12px;
    border: solid .15em $mainColor;
    font-family: 'AnekBangla-Medium', sans-serif;

    &:focus,
    &:active,
    &:visited {
        border: solid .15em $mainColor;
    }
}

input,
select {
    font-size: .95em;
}

input:not(input[type="Button"]):not(input[type="Checkbox"]):not(input[type="Radio"]) {
    padding: 3px 30px 0 12px;    
    box-shadow: none;    
}

input[type="Button"] {
    padding-right: 10px;
}

select {   
    min-width: 110px;
    padding: 0 5px 0 8px;
}

.checkBox,
.radioButton {
    width: 35px;
    height: 35px;
    outline: none;
    appearance: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "\25CF";
      width: auto;
      height: auto;        
      color: $mainColor;
      font-size: 0rem;
      position: relative;
      transition: .5s all ease;
    }
}

.checkBox {
    &::after {
        content: "\2713";
        top: 1px;
    }

    &:checked::after {
        font-size: 1.5rem;
    }

    &:disabled {
        background: #9b9b9b;
        cursor: default;
    }
}

.radioButton {
    border-radius: 50%;

    &:checked::after {
        top: -.03em;
        font-size: 2rem;
    }
}



/*-- Main-Container Styles --*/
/*-- Main-Container Styles --*/

#app.app__main-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: $mainColor;    
}

.app__main-container {

    /*-- Header Styles --*/
    /*-- Header Styles --*/

    &--header {
        width: 100%;
        min-height: 135px;
        max-height: 135px;
        background: $backgroundColor;
        padding: $layoutPadding;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.3);;
        // border-bottom: solid 0.2em #939292;

        &-firstrow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .btn--settings {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 0;
                width: 80px;
                height: 80px;
                position: absolute;
                top: 0;
                right: -3px;
            
                .settings-button-background {
                    min-width: 100%;
                    max-width: 80px;
                    max-height: 80px;
                }

                .settings-button {
                    max-width: 30px;
                    max-height: 30px;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    fill: $backgroundColor;
                }
            
                .turnSettingsIcon {
                    animation: rotateSettingsIcon 3s infinite linear;
                }
            
                @keyframes rotateSettingsIcon {
                    100% {
                        -webkit-transform: rotate(360deg); 
                        transform:rotate(360deg); 
                    }
                }
            }
        }

        &-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 90%;
            font-stretch: expanded;
            font-size: 1.2rem;
        }

        &-logo {
            height: 40px;
            width: 40px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            svg {
              height: 100%;
              width: 100%;

              @media (max-width: 576px) {
                  margin-right: 0px;
              }  
            }
        }

        &-secondrow {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            margin: 22px 0 0 0;
        } 

        &-buttons {
            min-width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 5px;

            .btn:first-child {
                margin-right: 25px;
          }
        }

        &-accuracy {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 20%;
            opacity: 0;
            @include transitionAll;

            .svgSpriteBox{
                width: 25px;
                height: 25px;
            }
        }
        .showHeaderAccuracy {
            opacity: 1;
        }   
    }


    /*-- Search form --*/
    /*-- Search form --*/

    &--search {
        position: absolute;
        top: -100px;        
        left: 0;
        z-index: 9;
        width: 100%;        
        height: auto;
        min-height: 75px;
        padding: $layoutPadding;
        background: rgba($backgroundColor, .85);
        border-bottom: solid .1em $secondaryColor;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @include transitionAll;

        &-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px; 
            
            &-titleBox {
                display: flex;
                justify-content: space-between;
                min-width: 65vw;

                &-title {
                    font-size: 1.25em;
    
                    &.hideTitle {
                        display: none;
                    }
                }
            }  
            
            .hideSearchTypeIcon {
                display: none;
            }
        }
      
        &-form {
            display: flex;
            align-items: flex-end;
            min-height: 35px;
            overflow: inherit;

            &-inputBox {
                display: flex;
                position: relative;

                &-input {
                    position: relative;
    
                    input[type="button"] {
                        position: absolute;
                        right: 0;
                        min-width: 10px;
                        height: 35px;
                        border: none;
                        background: none;
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        color: $secondaryColor;
                    }
    
                    input {
                        height: 35px;
                        min-width: 65vw;
                    }                
                }               

                &-location,
                &-routing {                      
                    @include transitionAll;
                }
    
                &-location {
                    width: auto;

                    &.hideSearch {                  
                        opacity: 0;                       
                       width: 0px;
                    }                
                }
    
                &-routing {
                    display: flex;
                    flex-direction: column;
                    max-width: 0px;
                    height: 35px;
                    overflow: hidden;  

                    .app__main-container--search-form-inputBox-input {
                        &-start {
                            position: relative;
                            z-index: 10;
                        }
    
                        input[type=button] {
                            z-index: 10;
                        }
                    }                    
                    
                    &-location {
                        height: 30px;
                        position: absolute;
                        right: 0px;
                        top: 1px;
                        z-index: 9;
                        @include transitionAll;
                    }
    
                    .app__main-container--search-form-inputBox-input:not(:first-child),
                    &-typeSelect {
                        margin-top: 15px;
                    }

                    &-typeSelect {
                        display: flex;
                        justify-content: space-between;
                        max-width: 65vw;
                        margin-top: 25px;                        

                        .svgSpriteBox {
                            width: 50px;
                            max-width: 55px;
                            max-height: 25px;
                            @include transitionAll;
                        }                        
                    }

                    &-typeOption {
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include transitionAll;

                        &.activeRoutingType {
                            background: $mainColor;
                            border-radius: $mapButtonsBorderRadius;
                            
                            .svgSpriteBox {
                                fill: $backgroundColor;
                                // stroke: $backgroundColor;
                            } 
                        }
                    }

                    &.showRouting {                      
                        height: 145px;
                        max-width: none;
                    }  
                }
            }

            &-toggleRouting {
                width: 28px;
                height: 28px;
                margin-left: 10px;
            }
            
            &-submit {
                top: 0px;
                @include transitionAll;

                .svgSpriteBox {
                    fill: $mainColor;
                    margin: 0 0 6px 20px !important;
                    height: 35px;
                    width: 35px;
                }
            }
        }           
      
        &-close {
            color: $mainColor;
            font-size: 1.8em;
            font-weight: 600;
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;

            .svgSpriteBox {
                width: 100%;
                height: 100%;
            }
        }
      
        &.showSearch {
            position: fixed;
            top: 135px;    
        }

        &.routingIsOpen {

            .app__main-container--search-form-inputBox-routing {
                overflow: visible;
            }

            .app__main-container--search-form-inputBox-routing-location {
                right: -55px;
            }

            .app__main-container--search-form-submit {
                top: -55px;
            }
        }
    }  


    /*-- Settings dialog --*/
     /*-- Settings dialog --*/

    &--settingsDialog {
        width: auto;
        min-width: 80vw;
        height: auto;
        min-height: 150px;
        max-height: calc(100% - 30px);
        color: $mainColor;
        background: $backgroundColor;
        border-radius: 8px;
        border: $mapBoxesBorder;
        padding: 15px 25px 25px 25px;
        font-size: 1rem;
        position: absolute;
        top: -500px;
        left: 50%;    
        z-index: 9;
        transform: translate(-50%, -45.5%);
        display: flex;
        flex-direction: column;
        @include transitionAll;

        &.showSettingsDialog {
            top: 50%;            
        }        

        &-subtitle {
            font-size: 1rem;
            margin: 20px 0 5px 0;
            padding-bottom: 2px;
            border-bottom: solid .1em $secondaryColor;
        }

        &-preciseMode {
            width: 100%;  
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-check {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
            }

            &-select {
                opacity: 0;
                pointer-events: none;
                -webkit-transition-duration: .6s;
                -o-transition-duration: .6s;
                transition-duration: .6s;
                -webkit-transition-property: opacity;
                -o-transition-property: opacity;
                transition-property: opacity;
                -webkit-transition-timing-function: ease;
                -o-transition-timing-function: ease;
                transition-timing-function: ease;

                &.showSelect {
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        }

        &-list {  
            list-style-type: none;
            padding: 15px 0 0 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2px;
            margin-bottom: 5px;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 18px 0;  
                min-width: 45%;

                .radioButton {
                  margin-right: 15px;
                }                

                &:last-child {
                  margin-right: -2px
                }                
            }
        }
    }

    /*-- Map Styles --*/
    /*-- Map Styles --*/
    
    &--map {
        width: 100%;
        height: 100%;
        max-height: 100%;
        display: block;
        position: relative;
        z-index: 1;

        &-searchToggle {        
            position: fixed;
            right: 15px;
            top: 150px;
            z-index: 9990;
            @include transitionAll;
            -webkit-transition-duration: .5s;
            -o-transition-duration: .5s;
            transition-duration: .5s;
          
            .svgSpriteBox {
                width: 45px;
                height: 40px;
                fill: $mainColor;
            }
          
            &.hideSearchToggle {
                opacity: 0;
                pointer-events: none;
            }
        }

        &-routingTypeToggle {
            position: absolute;
            left: 12px;
            top: 140px;
            width: 30px;
            height: 30px;
            padding: 2px;
            background: $mainColor;
            border: $mapButtonsBorder;
            border-radius: $mapButtonsBorderRadius;
            display: flex;
            z-index: 9990;
            min-height: 30px;
            @include transitionAll;
    
            .svgSpriteBox {
                fill: $backgroundColor;
            }
    
            &.hideRoutingTypeToggle {
                left: -100px;
            }
        }

        /* Active marker stylings */
        .active-marker,
        .destination-marker {
          margin-left: -12px !important;
          margin-top: -51px !important;
          width: 35px !important;
          height: 51px !important;
          z-index: 999 !important;
        }    
        
        .destination-marker {
            z-index: 998 !important;
        }        
    }

    /*-- Footer Styles --*/
    /*-- Footer Styles --*/

    &--footer {
        width: 100%;
        height: auto;
        max-height: 0;
        font-size: .95rem;       
        display: flex;  
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $layoutPadding;
        padding-right: $layoutPadding;        
        box-shadow: -1px -4px 12px 0px rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 10;
        @include transitionAll;
        transition-property: max-height, padding-top,  padding-bottom;

        &-toggler {
            min-width: 100%;
            height: auto;            
            
            .btn {
                height: auto;
                margin: 0 auto 0 auto;
                padding: 0;
                display: flex;
                background: #e0dede;
                border: none;
                width: 100%;
               
                span {
                    font-size: 1.8rem;
                    font-stretch: extra-expanded;
                    line-height: 0;
                    height: 12px;
                    width: inherit;
                    display: inline-block;
                    padding: 0 80px;
                    position: relative;
                    top: -1.5px;
                    color: $secondaryColor;
                }
            }
        }

        &-status,
        &-geoData {
            max-width: 50%;
            display: block;
            height: 100%;
        }

        &.showFooter {
            max-height: 100%; 
            padding-top: $layoutPadding; 
            padding-bottom: $layoutPadding;
            
            .btn {
                margin: -5px auto 10px auto;
            }
        }  
        
        &.hideFooter {
            height: 30px;  
            padding-bottom: 10px;          
        }
    }
}



/*-- Custom Map Styles --*/
/*-- Custom Map Styles --*/
.leaflet-container {
  background: $secondaryColor;
  outline-offset: 0px;


    .leaflet-control-container {

        .leaflet-top {
            z-index: 9990;
            @include transitionAll;

            .leaflet-control {
                margin-top: 15px;
            }
        }        
    }

    // Set the map control down, when search form is open (by custom toggle class).
    &.adjust-map-control {

        .leaflet-control-container {

            .leaflet-top {
                top: 100px;
            }        
        }
    }

    // Custom marker icon
    .leaflet-marker-icon.active-marker {
        position: relative;
        animation: jumpingMarker 3s infinite;
    }

    @keyframes jumpingMarker {
        0% {
            top: 0px;
            width: 35px !important;
            height: 51px !important;
        }
        50% {   
            top: 10px;
            width: 41px !important;
            height: 56px !important;
        }
        100% {   
            top: 0px;
            width: 35px !important;
            height: 51px !important;
        }
    } 

    // PopUp styles
    .leaflet-popup {

        .leaflet-popup-content-wrapper {
            font-family: 'AnekBangla-Medium', sans-serif;
            font-size: .9rem;
            background: $backgroundColor;
            max-width: 80vw; 
            
            .leaflet-popup-content {
                margin: 35px 20px 20px 20px;
            }
        }

        a.leaflet-popup-close-button {
            background-image: url( './icons/close-circle.svg' );
            background-size: contain;
            margin: 5px 5px 0 0;

            span {
                display: none;
            }
        }
    
        .leaflet-popup-tip {
            background: $backgroundColor;
        }
    }
    

    // Custom minimap styles
    .leaflet-control-minimap {     
        outline: $mapButtonsBorder;   
        outline-offset: 0px; 
        outline-style: solid !important;
        background: $mainColor;
        border-radius: $mapButtonsBorderRadius;
        -webkit-transition-duration: .6s;
        -o-transition-duration: .6s;
        transition-duration: .6s;
        -webkit-transition-property: width, height, outline;
        -o-transition-property: width, height, outline;
        transition-property: width, height, outline;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;       

        .leaflet-pane {
            opacity: 0;
            @include transitionAll; 
        }

        &.custom-mini-map-open {
            outline-color: $mainColor;
            box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);  

            .leaflet-pane {
                opacity: 1;
            }
        }

        &-toggle-display {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 1px;
            bottom: -1px;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            z-index: 9999;
            overflow: visible;
            // @include transitionAll;     

            &::after {
                content: "\21F2";            
                font-size: 1.2rem;  
                color: $backgroundColor;
                width: 30px;
                height: 30px;
                background: $mainColor;   
                text-align: center;
                transform: scale(1.3);                     
            }

            &.minimized-bottomright {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    // Routing box styles
    .leaflet-routing-container {
        font-family: 'AnekBangla-Medium', sans-serif;
        background: $backgroundColor;
        border: $mapBoxesBorder !important;
        border-width: .2em !important;
        border-radius: 8px !important;
        background-clip: unset !important;
        height: auto;
        min-width: 94vw;
        max-width: 94vw;
        max-height: 380px;
        margin-top: 80px !important;
        overflow-y: scroll;
        padding: 15px;
        position: static;
        @include transitionAll;
        -webkit-transition-property: max-height, padding, border;
        -o-transition-property: max-height, padding, border;
        transition-property: max-height, padding, border;        

        .leaflet-routing-collapse-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            pointer-events: none;

            &::before,
            &::after {
                content: '';
                width: 30px;
                height: 30px;
                display: block;
                background-position: center !important;
                background-repeat: no-repeat !important;             
            }

            &::before {
                background: $mainColor;
                background-image: url( './icons/signpost.svg' );
                background-size: auto 70%;
                border-radius: $mapButtonsBorderRadius;
                border: $mapButtonsBorder;
                left: -50px; 
                opacity: 0;
                position: relative;
                @include transitionAll;
                -webkit-transition-property: left;
                -o-transition-property: left;
                transition-property: left;                     
            }
            
            &::after {
                background-image: url( './icons/close-circle.svg' );
                background-size: auto 90%;
                opacity: 1;
                pointer-events: all;
            }
        }

        &-hide {
            max-height: 0px;
            padding: 0;
            border-width: 0 !important;
            overflow: hidden;

            .leaflet-routing-collapse-btn {

                &::before {
                    position: absolute;
                    left: 0px;
                    margin-top: 15px;
                    opacity: 1;
                    pointer-events: all;
                    transition-delay: .6s;    
                }

                &::after {
                    opacity: 0;
                }
            }
        }

        .leaflet-routing-alternatives-container {
            font-size: 110%;

            h2 {
                margin-top: 10px;
            }

            table {
                margin-top: 15px;
                width: 100%;
            }
        }
    }
}

/*-- Custom Styles --*/
.reloadComponent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
    opacity: 0;
    @include transitionAll;

    &.reloadComponentShow {
        opacity: 1;      
    }

    &--gif {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}  

.messageBox {
    width: auto;
    min-width: 80vw;
    height: auto;
    color: $mainColor;
    background: $backgroundColor;
    border: $mapBoxesBorder;
    border-radius: 8px;
    padding: 30px 20px;
    font-size: 1.4em;
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: inherit;
    @include transitionAll;

    &.messageBoxShow {
        top: 50%;   
    }

    &--title {
        margin-bottom: 20px;
    }

    &--text {
        padding: 0;
    }
}


.accuracyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 75%;
    max-width: 90%;
    height: auto; 
    position: absolute; 
    left: 50%; 
    bottom: 130px; 
    transform: translate(-50%, 0);
    border: $mapBoxesBorder;
    border-radius: $mapButtonsBorderRadius;
    background: $backgroundColor;
    padding: 15px; 
    z-index: 9999;
    color: $mainColor;
    font-size: 1rem;
    opacity: 0;
    @include transitionAll;

    &.showAccuracy {
        opacity: 1;
    }

    .svgSpriteBox {
        width: 28px;
        height: 28px;
        margin-right: 15px;
    }

    &--value {
        font-weight: 600;
    }
}
